* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./images/travelbloom.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
}

/* ===== Navbar ===== */

nav {
    background: rgba(15, 45, 58, 0.9);
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}


.nav-logo {
    display: flex;
    align-items: center;
}

.icon {
    width: 45px;
    margin-right: 12px;
}

.nav-logo h1 {
    font-size: 1.8em;

}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}


.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    color: #4fd1c5;
}

/* ===== Social Sidebar ===== */

.social-sidebar {
    position: fixed;
    top: 60%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.social-sidebar a {
    color: white;
    font-size: 22px;
}

/* ===== About Section ===== */

.about-hero {
    padding: 80px 100px;
}

.about-hero > h1 {
    margin-top: -60px;
}

.about-title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 40px;
}

.about-content {
    padding: 30px;
    border-radius: 10px;
    line-height: 1.6;
    max-width: 100%;
    margin-top: -40px;
    margin-bottom: 40px;
    color: white;
    justify-content: center;
}

/* ===== Team Section ===== */

.team-section {
    display: flex;
    align-items: center;
    gap: 80px;
}

.team-left h2 {
    font-size: 60px;
}

.team-members {
    display: flex;
    gap: 40px;
}

.team-card {
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 25px;
    border-radius: 12px;
    width: 260px;
    text-align: center;
}

.team-card i {
    font-size: 40px;
    margin-bottom: 15px;
}

.team-card h3 {
    margin-bottom: 10px;
}

.team-card p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.team-card button {
    background: #1b4f72;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
}
